@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body, html{
	font-family: 'Lato', sans-serif;
	color: #5a5a5a;
}

h1{
	text-transform: uppercase;
}

p{
	font-family: 'Open Sans', sans-serif;
}

a{ color: #00A693;}
a:hover,
a:focus{
	text-decoration: none;
	color: #00A693;
}

::selection {
  background: #ffb7b7;
	color: #5a5a5a;
}
::-moz-selection {
  background: #ffb7b7;
	color: #5a5a5a;
}

#main{
    text-align:center;
		margin: auto;
}

#content{
		margin-top: 5%;
    display: inline-block;
    text-align: left;
}

#description {
    color: #A6A6A6;
}

.navbar {
	background-color: #FFFFFF;
	border: none;
}

.container {
	padding: 10px;
	margin: 0;
}
